<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>AutoComplete With Spring Boot 2 (Zademy)</title>
	
	<!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/autocomplete/css/autocomplete.css}" rel="stylesheet">

</head>

<body>

	<div class="container">
		<div class="row justify-content-md-center mt-3 border rounded">
			<div class="col-md-4 text-center mt-3 mb-3">			
				 <label for="autocomplete" class="form-label"><strong>Autocomplete</strong></label>
  				 <input type="text" name="search" class="form-control" id="autocomplete" autocomplete="off" placeholder="Buscar..." required="required">				
			</div>
		</div>
	</div>

	<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/vendor/autocomplete/js/jquery.mockjax.js}"></script>
    <script th:src="@{/vendor/autocomplete/js/jquery.autocomplete.js}"></script>
    <script th:src="@{/vendor/autocomplete/js/script.js}"></script>

</body>
</html>